@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

fieldset {
    all: revert;
    padding: 5px 12px 10px 12px !important;
    border-radius: 5px !important;
    border: 1px solid #b0b0b0 !important;

}

[type='checkbox'], [type='radio'] {
    color: #4b5563;
}

.border-red {
    border-color: red !important;
}

.text-danger {
    color: red;
}

input.border-red + label {
    border-color: red !important;
    color: red;
}

.bg-yellow-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(253 224 71 / var(--tw-bg-opacity)) !important;
}

.bg-red-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(252 165 165 / var(--tw-bg-opacity)) !important;
}

.bg-green-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(134 239 172 / var(--tw-bg-opacity)) !important;
}

form#proposal input:not(.btn),
form#proposal textarea {
    padding: 5px;
    font-size: 16px;
    line-height: 1rem;
}

form#proposal select {
    padding: 7px;
    font-size: 16px;
    line-height: 1rem;
}

form#proposal legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 16px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

/*ul.contact .collapse {*/
/*    display: inline-block;*/
/*}*/

/*.formulas-block {*/
/*    display: inline-block;*/
/*}*/
